SERVER_PORT=1234
DATABASE_URL=postgres://user:password@url/project?sslmode=require
REDIS_URL=redis://default:password@upstash-caching-url.upstash.io:30000
CLERK_SECRET_KEY=sk_test_...
EXTERNAL_API_KEY=your_ticketmaster_api_key